<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="description" content="必要C2M商城是全球性价比最高的电子商务平台，是全球第一家用户直连制造（Customer To Manufactory）的平台，通过平台建立消费者与品质制造商的桥梁，将消费者的需求直接发送到工厂，按需生产模式既满足了消费者个性化的需求，又短路了复杂的商品流通环节，真正让消费者享受到专属且高品质的商品。目前，商品覆盖高跟鞋、眼镜、饰品、运动鞋、运动服、女士包包等品类，未来会按照消费者需求来增加新的产品类目。"/>
 <meta name="Keywords" content="必要;必要商城;必要平台;必要电商;C2M商城;工业4.0;定制平台;定制商城;奢侈品定制;定制鞋;定制包;定制眼镜;定制饰品;定制运动服;定制运动鞋" />

 <title>{% block title %}必要 - 全球首家C2M电子商务平台{% endblock  %}</title>
 <link href="http://static.biyao.com/pc/favicon.ico" rel="shortcut icon"
	type="image/x-icon" />
 <link href="http://static.biyao.com/pc/favicon.ico" rel="icon"
	type="image/x-icon" />
    {% block head %}


<link href="/statics/prize/css/common.css" rel="stylesheet" />
<link href="/statics/prize/css/cm_www.css" rel="stylesheet" />
<script type="text/javascript"	src="/statics/prize/js/jquery-1.8.3.js"></script>
<script type="text/javascript"	src="/statics/prize/js/jquery.extention.js"></script>
<script type="text/javascript" src="/statics/prize/js/lazyload.js8"></script>
<script type="text/javascript" src="/statics/prize/js/jquery.cookie.js"></script>
<script type="text/javascript">
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串
		var theRequest = new Object();
		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			strs = str.split("&");
			for (var i = 0; i < strs.length; i++) {
				theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
			}
		}
		return theRequest;
	}
	var Request = new Object();
	Request = GetRequest();
	if(!$.cookie("source")){
		$.cookie('source', Request['source'],{domain:"biyao.com",path:"/"});
	}
</script>
    {% endblock %}
</head>
<body id="pagebody">
{% csrf_token %}
{% block topBanner %}
	<div class="pub_nav topBanner slideUp">
		<div class="wrap clearfix bg_333">
			<div class="f_l">
				<ul class="pub_nav_list sizeZero">

					<li class="inline"><a href="http://www.biyao.com/home/index.html">首页</a><span class="bg"></span></li>
					<li class="inline"><a onclick='LT.skip_to()'>商家中心</a><span class="bg"></span></li>
					<li class="inline"><a href="/minisite/bzzx">平台政策</a><span class="bg"></span></li>
<!-- 					<li class="inline last"><a href="http://www.biyao.com/complaint/toAddComplaint">非法信息投诉</a><span class="bg"></span></li> -->
					<li class="inline last newapp">
  						<a href="#">必要手机版</a>
  						<div class="app_box">
							<span class="inline upArre"></span>
							<div class="con">
								<p class="sj_evm"></p>
								<p class="lineH24 col_666 f14">必要手机版</p>
							</div>
						</div>
	  				</li>
				</ul>
			</div>
		<div class="f_r">
			<ul class="pub_nav_list sizeZero">
				<li class="inline" id="welcomID"><span class="col_aaa mg_r10">欢迎来到必要，请</span><a class="" onclick='LT.login_uri("/account/login.html")'>登录</a><span class="bg"></span></li>
				<li class="inline" id="messageID"><a onclick='LT.register_uri("/account/register.html")'>注册</a><span class="bg"></span></li>
				<li class="inline last">
					<a href="javascript:void(0);" class="">个人中心<i class="inline pep_bg mg_l10"></i></a>
					<div class="app_box">
						<span class="inline upArre"></span>
						<div class="bg_fff down_list_box">
							<a class="inline" href="/MyCenters/MyOrder.html">我的订单</a>
							<a class="inline" href="/MyCenter/Profile.html">个人设置</a>
						</div>
					</div>
				</li>
				<li class="inline last pd_r0 shopping_cart vTop">
					<a class="inline sizeZero" href="http://buy.biyao.com/shopcars/index.html">
						<i class="inline"></i>
						<span id="shopcarNumID" class="inline">购物车 0</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="index_bg_fff">
<div class="wrap pub_logo_box clearfix">
	<div class="pub_logo f_l"><a href="/home/index.html"><img alt="" src="http://static1.biyao.com/pc/common/img/logo.png?v=biyao_4637d54"></a></div>
	<div class="f_r">
		<ul class="sizeZero menu_nav_list">
			   <li class="inline ">
							<a href="javascript:;">眼镜</a>
							<div class="sub_nav_list pos_pub">
								<span class="sub_nav_jd"></span>
								<a href="http://badge.biyao.com/women/index.html?f_upd=fc-28" class="escp ">女士·眼镜</a>
								<a href="http://badge.biyao.com/man/index.html?f_upd=fc-27" class="escp last">男士·眼镜</a>
								</div>
							</li>
				<li class="inline ">
							<a href="javascript:;">服装配饰</a>
							<div class="sub_nav_list pos_pub">
								<span class="sub_nav_jd"></span>
								<a href="http://jhm.m.biyao.com/women/index.html?f_upd=fc-172" class="escp ">女士·POLO衫</a>
								<a href="http://jeans.biyao.com/jeanswomen/index.html?f_upd=fc-158" class="escp ">女士·牛仔</a>
								<a href="http://ibuyfun.biyao.com/skirt/index.html?f_upd=fc-131" class="escp ">女士·小黑裙</a>
								<a href="http://wuwan.biyao.com/man/index.html?f_upd=fc-173" class="escp ">男士·T恤</a>
								<a href="http://jhm.biyao.com/man/index.html?f_upd=fc-122" class="escp ">男士·Polo衫</a>
								<a href="http://jeans.biyao.com/jeans/index.html?f_upd=fc-116" class="escp ">男士·牛仔</a>
								<a href="http://defarro.biyao.com/man/index.html?f_upd=fc-161" class="escp ">男士·G＆M男装</a>
								<a href="http://defarro.biyao.com/man/index.html?f_upd=fc-164" class="escp ">男士·C&M商务长裤</a>
								<a href="http://bijiang.biyao.com/man/index.html?f_upd=fc-140" class="escp ">男士·必将男装</a>
								<a href="http://wuwanneiyi.biyao.com/briefs/index.html?f_upd=fc-137" class="escp ">男士·必将内衣</a>
								<a href="http://jihezhizao.biyao.com/menwear/index.html?f_upd=fc-57" class="escp last">男士·集合智造衬衫</a>
								</div>
							</li>
				<li class="inline ">
							<a href="javascript:;">鞋靴</a>
							<div class="sub_nav_list pos_pub">
								<span class="sub_nav_jd"></span>
								<a href="http://vizman.biyao.com/menshoes/index.html?f_upd=fc-44" class="escp ">男士·皮鞋</a>
								<a href="http://cm.biyao.com/womenshoes/index.html?f_upd=fc-45" class="escp last">女士·皮鞋</a>
								</div>
							</li>
				<li class="inline ">
							<a href="javascript:;">户外</a>
							<div class="sub_nav_list pos_pub">
								<span class="sub_nav_jd"></span>
								<a href="http://wuwan.biyao.com/women/index.html?f_upd=fc-143" class="escp ">女士·MONJEU户外</a>
								<a href="http://wuwan.biyao.com/man/index.html?f_upd=fc-144" class="escp last">男士·MONJEU户外</a>
								</div>
							</li>
				<li class="inline ">
							<a href="javascript:;">运动</a>
							<div class="sub_nav_list pos_pub">
								<span class="sub_nav_jd"></span>
								<a href="http://redella.biyao.com/shoes/index.html?f_upd=fc-111" class="escp ">男女·REDELLA运动鞋</a>
								<a href="http://bmai.biyao.com/man/index.html?f_upd=fc-30" class="escp ">男士·bmai运动</a>
								<a href="http://bmai.biyao.com/women/index.html?f_upd=fc-31" class="escp last">女士·bmai运动</a>
								</div>
							</li>
				<li class="inline ">
							<a href="javascript:;">箱包</a>
							<div class="sub_nav_list pos_pub">
								<span class="sub_nav_jd"></span>
								<a href="http://kufeixiangbao.biyao.com/suitcase/index.html?f_upd=fc-67" class="escp ">CUUFLY箱包</a>
								<a href="http://yinzuo.biyao.com/suitcase/index.html?f_upd=fc-148" class="escp last">GRIFFIN LAND箱包</a>
								</div>
							</li>
				<li class="inline ">
							<a href="javascript:;">个人护理</a>
							<div class="sub_nav_list pos_pub">
								<span class="sub_nav_jd"></span>
								<a href="http://friday.biyao.com/shaver/index.html?f_upd=fc-110" class="escp last">男士·剃须刀</a>
								</div>
							</li>
				<li class="inline ">
							<a href="javascript:;">家居生活</a>
							<div class="sub_nav_list pos_pub">
								<span class="sub_nav_jd"></span>
								<a href="http://behuge.biyao.com/kitchen/index.html?f_upd=fc-167" class="escp ">家居·厨具</a>
								<a href="http://behuge.biyao.com/bedroom/index.html?f_upd=fc-155" class="escp ">家居·卧室</a>
								<a href="http://behuge.biyao.com/children/index.html?f_upd=fc-152" class="escp ">家居·儿童房</a>
								<a href="http://behuge.biyao.com/livingroom/index.html?f_upd=fc-77" class="escp ">家居·客厅</a>
								<a href="http://behuge.biyao.com/diningroom/index.html?f_upd=fc-78" class="escp ">家居·餐厅</a>
								<a href="http://behuge.biyao.com/studyroom/index.html?f_upd=fc-79" class="escp last">家居·书房</a>
								</div>
							</li>
				<li class="inline last">
							<a href="javascript:;">家纺</a>
							<div class="sub_nav_list pos_pub_last">
								<span class="sub_nav_jd"></span>
								<a href="http://beromance.biyao.com/textiles/index.html?f_upd=fc-128" class="escp last">必柔家纺</a>
								</div>
							</li>
				</ul>
	</div>
</div>
</div>
{% endblock %}


<link rel="stylesheet" type="text/css" href="http://static3.biyao.com/pc/www/css/home.css?v=biyao_b551ce1"/>
<style>
.index_bg_fff{background-color:#fff;}
</style>
<div class="pd_t10">
<span class="staticpage none"></span>

{% block home_banner %}
<div class="home_banner auto"  id="banner_switch">

  		<ul class="home_banner_list sizeZero"   id="banner_switch_list">
  			<li class="inline" ><a href="http://jhm.biyao.com/women/index.html?f_upd=fb-218" target="_blank" id="bl_image_url" class="inline" style="background: url('http://img.biyao.com/files/data0/web/a70bfeb17c09494f95070ed1a8dc9d34.jpg') center center no-repeat; "></a></li>
			<li class="inline" ><a href="http://badge.biyao.com/man/index.html?f_upd=fb-170" target="_blank" id="bl_image_url" class="inline" style="background: url('http://img.biyao.com/files/data0/web/7fed18aa6d7240baa47d7165c7b7702c.jpg') center center no-repeat; "></a></li>
			<li class="inline" ><a href="http://behuge.biyao.com/kitchen/index.html?f_upd=fb-246" target="_blank" id="bl_image_url" class="inline" style="background: url('http://img.biyao.com/files/data0/web/05574d2bda544e49b02f0af8ef01f9d5.jpg') center center no-repeat; "></a></li>
			<li class="inline" ><a href="http://bmai.biyao.com/man/index.html?f_upd=fb-164" target="_blank" id="bl_image_url" class="inline" style="background: url('http://img.biyao.com/files/data0/web/c2568beb30d54404be67cd57e07730d6.jpg') center center no-repeat; "></a></li>
			<li class="inline" ><a href="http://wuwan.biyao.com/man/index.html?f_upd=fb-206" target="_blank" id="bl_image_url" class="inline" style="background: url('http://img.biyao.com/files/data0/web/67e6ca83a12344278563c029beb018e5.jpg') center center no-repeat; "></a></li>
			<li class="inline" ><a href="http://ibuyfun.biyao.com/skirt/index.html?f_upd=fb-225" target="_blank" id="bl_image_url" class="inline" style="background: url('http://img.biyao.com/files/data0/web/2b9c0a9231a1419e8cfc3ca1defa33c4.jpg') center center no-repeat; "></a></li>
			</ul>
  		<ol class="home_banner_order xb ">
  			<li class="inline checked">1</li>
					<li class="inline">2</li>
					<li class="inline">3</li>
					<li class="inline">4</li>
					<li class="inline">5</li>
					<li class="inline">6</li>
					</ol>
  	</div>
<div class="feature_info auto">
  			<ul class="feature_info_list sizeZero">
	  			<li class="inline">
		  				<i class="inline mg_r5"><img src="http://img.biyao.com/files/data0/web/96a7cff302474a6a9c12b6462b351db3.png" width="30" height="30" alt="" /></i>
	  					<span class="inline f18 col_523">直连一线制造
</span>
	  				</li>
	  			<li class="inline">
		  				<i class="inline mg_r5"><img src="http://img.biyao.com/files/data0/web/3754469f2abb485eae613e01a7f754e5.png" width="30" height="30" alt="" /></i>
	  					<span class="inline f18 col_523">7天无忧退换货</span>
	  				</li>
	  			<li class="inline">
		  				<i class="inline mg_r5"><img src="http://img.biyao.com/files/data0/web/7aa60b3fef7f4d539013f601a55fbe1c.png" width="30" height="30" alt="" /></i>
	  					<span class="inline f18 col_523">平台先行赔付</span>
	  				</li>
	  			<li class="inline">
		  				<i class="inline mg_r5"><img src="http://img.biyao.com/files/data0/web/9a4a21dfe8914533978d0e848e0b4939.png" width="30" height="30" alt="" /></i>
	  					<span class="inline f18 col_523">全品类包邮</span>
	  				</li>
	  			</ul>
  	</div>

{% endblock %}

{% block body %}
  	<div class="pd_b40">
  	<div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>Under Armour 制造商出品</h3>
		  		<h4>拥有三十年行业经验的团队亲力打造</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://bmai.biyao.com/man/index.html?f_upd=fa-226"  target="_blank">
		  				<img src="http://img.biyao.com/files/data0/web/0ca33a5f73e84536afc2102b96ae0b3b.jpg" width="100%"/>
		  				</a>
		  	  	<a href="http://bmai.biyao.com/women/index.html?f_upd=fa-227"  target="_blank">
		  				<img src="http://img.biyao.com/files/data0/web/cd673ec6691848ef90b1bae70d79c7b0.jpg" width="100%"/>
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>双立人、All-Clad制造商出品</h3>
		  		<h4>304不锈钢打造，物理防粘</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://behuge.biyao.com/kitchen/index.html?f_upd=fa-313"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/f00943286e2f49f7901bc4fad95ca2ac.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>特殊工艺保持纯棉天然纤维本质</h3>
		  		<h4>纯棉面料新体验</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://defarro.biyao.com/man/index.html?f_upd=fa-307"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/37ce333e1e57415c85c4ae107015c7a2.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>制造商大鳄手工打造</h3>
		  		<h4>根据十几万亚洲人脚数据 Armani楦师精心打磨</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://vizman.biyao.com/menshoes/index.html?f_upd=fa-172"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/7b2ad569869143c6955c60d60b31e514.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>依视路集团旗下制造 终结行业暴利</h3>
		  		<h4>专为移动互联网用户打造</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://badge.biyao.com/man/index.html?f_upd=fa-166"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/e8f75767e0484790be4f678a0d2297aa.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	<a href="http://badge.biyao.com/women/index.html?f_upd=fa-167"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/3f88257dabf14704ba4f211921f60167.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>D&G、Zegna顶级制造商出品</h3>
		  		<h4>时尚潮流风格修身透气</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://bijiang.biyao.com/man/index.html?f_upd=fa-277"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/d89b4b6af8d5435292a1c45cf6dad5db.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>CK,Diesel制造商出品</h3>
		  		<h4>欧美出口级品质保障每一款都是原创设计</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://jeans.biyao.com/jeans/index.html?f_upd=fa-220"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/34eaa750dd934f6db3d21ea5585b8804.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	<a href="http://jeans.biyao.com/jeanswomen/index.html?f_upd=fa-301"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/da8ec22bbf0b421ba9c9d49e85ec9025.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>新秀丽、DELSEY制造商出品</h3>
		  		<h4>拥有国际最先进的专业生产流水线</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://yinzuo.biyao.com/suitcase/index.html?f_upd=fa-289"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/3d0aeb0ba7f44aa481280f04cb0b7aea.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>MUJI制造商出品，纯实木家具</h3>
		  		<h4>北欧简约设计，超高性价比掀起行业革命</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://behuge.biyao.com/furniture/index.html	?f_upd=fa-298"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/5bf51b8bd5d84a41b8556b60b744431b.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>始祖鸟，The North Face制造商出品</h3>
		  		<h4>专利户外面料，多处版型改良使活动更加自如</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://wuwan.biyao.com/man/index.html?f_upd=fa-282"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/9b09ca4972cd48b99c67f476c5a36bf0.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	<a href="http://wuwan.biyao.com/women/index.html?f_upd=fa-283"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/261ea6abec7a4fca88e471720622af27.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>迪拜七星级酒店家纺制造商出品</h3>
		  		<h4>精选顶级家纺面料，严格按照欧盟环保标准加工而成</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://beromance.biyao.com/textiles/index.html?f_upd=fa-259"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/a1e41f08fa774dbe98e4ad5253c476dd.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>Bape，Adidas Originals制造商</h3>
		  		<h4>感受潮流与科技的碰撞</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://redella.biyao.com/shoes/index.html?f_upd=fa-247"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/114c4e96be934cc490566bccb8c41ea9.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>Armani，Ralph Lauren制造商出品</h3>
		  		<h4>欧美出口级品质 每一款都是原创设计</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://jhm.biyao.com/man/index.html?f_upd=fa-249"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/d7d6c1e531604cde9412757b6a86d9e9.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	<a href="http://jhm.biyao.com/women/index.html?f_upd=fa-316"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/a70dfc0bdb4c4735a17736af980c0d8a.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>Calvin Klein、GX3内裤制造商出品</h3>
		  		<h4>双面磨毛一体成型，如裸身般舒适</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://wuwanneiyi.biyao.com/briefs/index.html?f_upd=fa-271"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/992b1911076a4ef7b24a7398f930dd7b.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>铝镁合金旅行箱终极体验</h3>
		  		<h4>提供终身维修服务</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://kufeixiangbao.biyao.com/suitcase/index.html?f_upd=fa-187"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/c25855d2ccc64a56b3f51ec983f9d6ae.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>采用美国Edgewell进口刀头</h3>
		  		<h4> 拥有140年剃须刀生产经验供应商出品</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://friday.biyao.com/shaver/index.html?f_upd=fa-214"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/0c044f96c5fb4831b00b1b81d5ca37e6.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>掀起女鞋革命 性价比砰砰爆表</h3>
		  		<h4>Armani制造商出品 意大利小牛皮面、真皮大底</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://cm.biyao.com/womenshoes/index.html?f_upd=fa-223"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/4424acf1f8ca47d5b576e30dcb15d064.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>Burberry、Balenciaga等制造商出品</h3>
		  		<h4>系出名门却平易近人</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://jihezhizao.biyao.com/menwear/index.html	?f_upd=fa-199"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/ef704f48f89d4380a164919bc9ed85b5.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 <div class="pd_t30 wrap auto">
		  	<div class="banner_tit t_c">
		  	    <h3>MaxMara制造商出品 </h3>
		  		<h4>每一件服饰的美都从心开始</h4>
		  		</div>
		  	<div class="banner_con">
		  	  	<a href="http://ibuyfun.biyao.com/skirt/index.html?f_upd=fa-262"  target="_blank">
		  				<img data-original="http://img.biyao.com/files/data0/web/563b307452bd4ff981e2b02e69c4a733.jpg" width="1200" height="280" alt="" />
		  				</a>
		  	  	</div>
		</div>
	 </div>
</div>

{% endblock %}

{% block bottom %}

<script type="text/javascript">
window.__pageType="home";
if(typeof($.cookie("uid"))!="undefined"&&$.cookie("uid")!=null&&$.cookie("uid")!=""){
	$.ajax({
		url:"http://www.biyao.com/home/getDataForHomePage",
		dataType:"jsonp",
		jsonp:"callback",
		data:{"uid":$.cookie("uid")},
		success:function(result){
			if(result.success==1){
				$('#welcomID').remove();
				$('#messageID').html('<a class="login"  href="http://www.biyao.com/MyCenters/MyOrder.html">Hi,'+result.nickname+'</a><a class="regist mg_l10" href="http://www.biyao.com/account/logout">[ 退出 ]</a>	');
				//$('#messageNumID').html("("+result.messageNum+")");
			}
		}
	})
}
</script>

<div data-selector="J_im" id="webIM_showDiv"></div>

<div class="footer_links clearfix J_1200 auto">
    <div class="content wrap sizeZero">
    	<div class="footer_nav_box inline">
    		<ul class="footer_nav_list clearfix">
    			<li>
    				<a target="_blank" href="http://www.biyao.com/minisite/ljby">关于必要</a>
    				<span class="bg_line"></span>
    			</li>
    			<li>
    				<a target="_blank" href="http://www.biyao.com/help/8.html">加入必要</a>
    				<span class="bg_line"></span>
    			</li>
    			<li>
    				<a target="_blank" href="http://www.biyao.com/help/9.html">联系我们</a>
    				<span class="bg_line"></span>
    			</li>
    			<li class="none">
    				<a target="_blank" href="http://www.biyao.com/list/39/list-1.html">网站地图</a>
    			</li>
    			<li>
    				<a target="_blank" href="http://weibo.com/biyaoshangcheng">官方微博</a>
    				<span class="bg_line"></span>
    			</li>

    		</ul>
    		<p class="col_999 lineH18 mg_t15">◎BIYAO.COM 2015 版权所有 <a class="col_999" href='http://www.miitbeian.gov.cn/' target="_blank">粤ICP备13088531号</a><br>
			</p>
    	</div>
    	<div class="footer_evm sizeZero inline">
    		<div class="inline mg_r40 footer_evm_img">
    			<div class="an_bg inline mg_r15"></div>
    			<div class="inline evm_tit_msg">
    				<span class="col_333 f14">扫描二维码下载</span><br/>
					<span class="col_724 f14">必要手机客户端</span>
    			</div>
    		</div>
    		<div class="inline mg_r10 footer_evm_img">
    			<div class="weixin_bg inline mg_r15"></div>
    			<div class="inline evm_tit_msg">
    				<span class="col_333 f14">扫描二维码关注</span><br/>
					<span class="col_724 f14">必要官方微信</span>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<script src="http://static3.biyao.com/pc/common/js/common.js?v=biyao_866d932" type="text/javascript"></script>
	<script type="text/javascript"	src="http://static4.biyao.com/pc/www/js/common.js?v=biyao_bd8bd36"></script>
	<script type="text/javascript" src="http://static.biyao.com/pc/common/js/ui/dialog.js?v=biyao_130c013"></script>
<script type="text/javascript" src="http://static1.biyao.com/pc/common/js/ui/select.js?v=biyao_1dcaa7c"></script>
<script type="text/javascript" src="http://static2.biyao.com/pc/common/js/ui/jquery.pagination.js?v=biyao_1a0a135"></script>
<script type="text/javascript" src="http://static3.biyao.com/pc/common/js/ui/pages.js?v=biyao_5fd7a00"></script>
<script type="text/javascript" src="http://static4.biyao.com/pc/www/js/product/fcode.js?v=biyao_1810c31"></script>
<script type="text/javascript" src="http://static.biyao.com/pc/www/js/home/checkbook.js?v=biyao_8351fee"></script>
<script type="text/javascript" src="http://static1.biyao.com/pc/common/js/jquery.lazyload.min.js?v=biyao_75578ef"></script>
<script type="text/javascript" src="http://static2.biyao.com/pc/www/js/home/newhome.js?v=biyao_3ea3ba3" ></script>
</body>
<script type="text/javascript" src="http://static1.biyao.com/pc/common/js/bytrack.js?v=biyao_96d50ea"></script>
<script>
// GA跟踪代码20150826
 var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8263bc34c44278c176458d5aca724aed";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();


</script>
{% endblock %}
</html>