{% extends 'prize/profile.html' %}

{% block profile %}
<div class="per_right ">
		<div class="">
			<div class="relative">
				<h4 class="nTitle">个人设置</h4>
				<h3 class="per_title">
					<a href="{% url 'profile' %}"><span>个人信息</span></a>
					<a href="{% url 'MyAddressManager' %}"><span>管理收货地址</span></a>
					<a class="bd_r_none a_checked" href="{% url 'ChangePassword' %}"><span>修改密码</span></a>
				</h3>
			</div>
			<div class="pd10">
			<form action="/MyCenter/ChangePasswordValueByAjax" method="post" id="form1">
					<table cellspacing="0" class="per_table th80">
						<tbody><tr>
							<th>旧密码：</th>
							<td><input type="password" onblur="blankTest(this);" name="OldPassword" id="OldPassword" data-val-required="不能为空" data-val="true" data-highlight="highlight" class="inpCom perinp w210 permy"></td>
						</tr>
						<tr>
							<th>新密码：</th>
							<td><input type="password" onblur="blankTest(this);" name="NewPassword" id="NewPassword" data-val-required="不能为空" data-val-length-min="6" data-val-length-max="20" data-val-length="密码长度6-20位字符" data-val="true" data-highlight="highlight" class="inpCom perinp w210 permy onfocustext"></td>
						</tr>
						<tr>
							<th>确认密码：</th>
							<td><input type="password" onblur="blankTest(this);" name="ConfirmPassword" id="ConfirmPassword" data-val-equalto-other="*.NewPassword" data-val-equalto="新密码和确认密码不匹配." data-val="true" data-highlight="highlight" class="inpCom perinp w210 permy"></td>
						</tr>
						<tr>
							<th></th>
							<td height="80"> <a class="btnCom1 btnComS btnBg2 btnH1 w80 inline J_release"><span>确 定</span></a></td>
						</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
